.testimonial-section{
    margin-top: 70px;
    /* height: 80vh; */
   
}
.content-slider-main{
    margin-top: 70px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
   
}
.content-slider{
    padding: 20px 10px;
    color: white;
    background-color: tomato;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    min-height:220px;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    
}

#dark .content-slider{
    background-color: #38004c;
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    color: white;
}

.content-slider:hover{
    background-color: rgb(218, 39, 218);
    transition-duration: .5s;

}

.content-slider .name{
    font-weight: 600;
    margin-top: 5px;
    font-size: 18px;
}
.content-slider .position{
    font-weight: 400;
    color: yellow;
    margin-top: -15px;
    font-size: 17px;

}

.content-slider .description{
    font-weight: 400;
    text-align: justify;
    padding: 8px;
    margin-top: -10px;
    /* font-family: roboto; */

}
.slick-prev:before{
    color: tomato !important;
    font-size: 30px;
}

.slick-next:before{
    color: tomato !important;
    font-size: 50px;
    
}


@media (max-width:500px) {
    .slick-next{
        display: none !important;
    }

    .slick-prev{
        display: none !important;
    }

    .content-slider{

    }
    
}
